<style>
  body {
    background-color: rgb(0, 0, 0);
  }

  .no {
    text-decoration: none;
  }

  .fullclick {
    margin: 1em 0;
    padding: 0;
    max-width: 30em;
  }
  .fullclick li {
    list-style: none;
    margin: 1em 0;
    padding: 20px 10px;
    background: #2b2b2b;
    position: relative;
  }
  .fullclick a.main {
    color: #85baff;
    text-align: right;
    display: block;
    z-index: 1;
  }
  .fullclick li a.main::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
  }

  .sideh {
    background-color: rgba(5, 5, 5, 0.315);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
    transform: translate(-1%, -10%);
    width: 1053px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: "Courier New", monospace;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
  }

  .pics {
    background-color: hsla(0, 0%, 0%, 0.349);
    border-radius: 25px;
  }

  .pictext {
    color: white;
  }

  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(
        650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%
      ),
      radial-gradient(
        1250px circle at 100% 100%,
        hsl(219, 46%, 12%) 15%,
        hsl(219, 44%, 8%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%
      );
    filter: brightness(1.5);
  }

  .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .button-64:active,
  .button-64:hover {
    outline: 0;
  }

  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-64:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: static;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 10%;
    filter: contrast(120%);
  }

  /* Add some content at the bottom of the video/page */
  .content {
    position: static;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .mydivclass {
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>

<body
  class="mydivclass"
  style="background-color: rgb(0, 0, 0); width: auto; height: auto"
>
  <!-- The video -->
  <video autoplay muted loop id="myVideo" style="transform: translate(0%,29%)">
    <source
      src="https://cdn.dribbble.com/users/32512/screenshots/14887210/media/a0412602602c657e875ea3eb53805d26.mp4"
      type="video/mp4"
    />
  </video>

  <div
    style="
      text-align: center;
      padding: 1em 0;
      transform: translate(3%, -95%);
      pointer-events: none;
    "
  >
    <iframe
      src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Asia%2FKolkata"
      width="100%"
      height="140"
      frameborder="0"
      seamless
    ></iframe>
  </div>
</body>
